---
import client from '@data/client.json';
---

<!-- ============================================ --><!--                   Footer                     --><!-- ============================================ -->
<footer id='footer'>
  <div class='container'>
    <div class='left-section'>
      <a class='logo' href='/'> <p class='cs-logo-text'>McKay Painting</p></a>
    </div>
    <div class='right-section'>
      <div class='lists'>
        <ul>
          <li>
            <h2>Information</h2>
          </li>
          <li>
            <a href='/'>Home</a>
          </li>
          <li>
            <a href='/about'>About Us</a>
          </li>
          <li>
            <a href='/projects'>Projects</a>
          </li>
          <li>
            <a href='/testimonials'>Reviews</a>
          </li>
          <li>
            <a href='/contact'>Contact</a>
          </li>
        </ul>
        <ul>
          <li>
            <h2>Services</h2>
          </li>
          <li>Interior Painting</li>
          <li>Exterior Painting</li>
          <li>Residental Painting</li>
          <li>Commercial Painting</li>
        </ul>
        <ul>
          <li>
            <h2>Contact</h2>
          </li>
          <li>
            <a href='/contact'>
              {client.address.lineOne}<br />
              {client.address.lineTwo}<br />
              {client.address.city}
              {client.address.state}
              {client.address.zip}
            </a>
          </li>
          <li>
            <a href={`tel:${client.phoneForTel}`}>
              T:
              {client.phoneFormatted}
            </a>
          </li>
          <li>
            <a href={`mailto:${client.email}`}>Click to Email</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class='credit'>
    <span>Designed and Hand Coded by</span>{' '}
    <a href='https://www.zephyrpixels.dev' target='_blank' rel='noopener'
      >Zephyr Pixels</a
    >{' '}
    <span class='copyright'> Copyright 2023 - Present</span>
  </div>
</footer>
